*{
    box-sizing: border-box;
}
.fav-fodds{
    border: 5px solid black;
}
.khacchi{
    width: 25%;
    float: left;
    background-color: rgb(11, 144, 100);
    padding: 10px;
}
.burger{
    width: 25%;
    float: left;
    background-color: rgb(116, 68, 11);
    padding: 10px;
}
.noodles{
    width: 25%;
    float: left;
    background-color: rgb(228, 148, 51);
    padding: 10px;
}
.biriyani{
    width: 25%;
    float: left;
    background-color: rgb(7, 83, 53);
    padding: 10px;
}
.clearfix{
    clear: both;
}
