@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.header {
    color: rgba(3, 131, 89, 0.817);
    font-weight: 500;
}
.division1 {
    background-color: rgb(207, 202, 202);
}
.division2 {
    background-color: rgb(241, 236, 236);
}
span {
    background-color: aqua;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
